<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_5f620b7300bd46889cb0cad161ea2cf4 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_5f620b7300bd46889cb0cad161ea2cf4" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_5f620b7300bd46889cb0cad161ea2cf4 = L.map(
        'map_5f620b7300bd46889cb0cad161ea2cf4', {
        center: [37.49011172105985, 127.04510917946214],
        zoom: 13,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_080d7def7d9f43aa870bde6955b96112 = L.tileLayer(
        'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_5f620b7300bd46889cb0cad161ea2cf4);
    
            var circle_marker_a8d0f736b18d416ab558633aa4e7b36d = L.circleMarker(
                [37.4898434, 127.0438136],
                {
  "bubblingMouseEvents": true,
  "color": "#39B7D0",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#39B7D0",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 124,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(map_5f620b7300bd46889cb0cad161ea2cf4);
            
    
            var popup_0ba4aae74e81453ea6c9319bf5514a99 = L.popup({maxWidth: '100%'
            
            });

            
                var html_f11ac73202634078be62d47a938bf003 = $(`<div id="html_f11ac73202634078be62d47a938bf003" style="width: 100.0%; height: 100.0%;">도곡동</div>`)[0];
                popup_0ba4aae74e81453ea6c9319bf5514a99.setContent(html_f11ac73202634078be62d47a938bf003);
            

            circle_marker_a8d0f736b18d416ab558633aa4e7b36d.bindPopup(popup_0ba4aae74e81453ea6c9319bf5514a99)
            ;

            
        
    
            var circle_marker_36115fdf686640cca73011469565e85d = L.circleMarker(
                [37.5139848, 127.0565207],
                {
  "bubblingMouseEvents": true,
  "color": "#39B7D0",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#39B7D0",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 124,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(map_5f620b7300bd46889cb0cad161ea2cf4);
            
    
            var popup_1659ff6045e64f89bf9b831ab251e3aa = L.popup({maxWidth: '100%'
            
            });

            
                var html_3b055ec77d584a728b6896ebf5d030d1 = $(`<div id="html_3b055ec77d584a728b6896ebf5d030d1" style="width: 100.0%; height: 100.0%;">삼성동</div>`)[0];
                popup_1659ff6045e64f89bf9b831ab251e3aa.setContent(html_3b055ec77d584a728b6896ebf5d030d1);
            

            circle_marker_36115fdf686640cca73011469565e85d.bindPopup(popup_1659ff6045e64f89bf9b831ab251e3aa)
            ;

            
        
    
            var circle_marker_f7791b33a6fd496cb9515445a351c4a9 = L.circleMarker(
                [37.4731977, 127.0381702],
                {
  "bubblingMouseEvents": true,
  "color": "#39B7D0",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "#39B7D0",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 118,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(map_5f620b7300bd46889cb0cad161ea2cf4);
            
    
            var popup_0b2462dedcc14028b5d8ddd51d77a723 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4dd4190797364c63bca599e156092b02 = $(`<div id="html_4dd4190797364c63bca599e156092b02" style="width: 100.0%; height: 100.0%;">양재동</div>`)[0];
                popup_0b2462dedcc14028b5d8ddd51d77a723.setContent(html_4dd4190797364c63bca599e156092b02);
            

            circle_marker_f7791b33a6fd496cb9515445a351c4a9.bindPopup(popup_0b2462dedcc14028b5d8ddd51d77a723)
            ;

            
        
    
            var layer_control_3cd927178eaa4109af836117caa6f854 = {
                base_layers : { "cartodbpositron" : tile_layer_080d7def7d9f43aa870bde6955b96112, },
                overlays : {  }
                };
            L.control.layers(
                layer_control_3cd927178eaa4109af836117caa6f854.base_layers,
                layer_control_3cd927178eaa4109af836117caa6f854.overlays,
                {position: 'topright',
                 collapsed: false,
                 autoZIndex: true
                }).addTo(map_5f620b7300bd46889cb0cad161ea2cf4);
            
        
</script>