<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-icon" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-icon" alt="Focus on Me">
      </a>
      <ul class="navbar-nav align-items-center  ml-md-auto ">
        <a href="/login" class="button">login</a>
        <a class="dribbble" href="https://dribbble.com/shots/7441241-Button-Hover-Effects" target="_blank"></a>
      </ul>
    </div>
  </div>
</nav>