
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a target="_blank"
                 href="https://github.com/JFusionProject" 
                 class="font-weight-bold ml-1" target="_blank">Focus on Me</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://www.creative-tim.com" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; Creative-Jaden</a> 
                 - coded by <a target="_blank" href="https://github.com/jaden7856">github</a>
            </div>
          </div>
        </div>
      </footer>
